In [ ]:
import pandas as pd


batting = pd.read_csv("../DATA/batting.csv")
fielding = pd.read_csv("../DATA/fielding.csv")
hall_of_fame = pd.read_csv("../DATA/hall_of_fame.csv")
player_award = pd.read_csv("../DATA/player_award.csv")
player = pd.read_csv("../DATA/player.csv")
salary = pd.read_csv("../DATA/salary.csv")
team = pd.read_csv("../DATA/team.csv")

table_files = [batting, fielding, hall_of_fame, player_award, player, salary, team]
for file in table_files:
    print(file.head(5))

In [79]:
#1
filtered_df = batting[batting['hr'].notnull()]
grouped_df = filtered_df.groupby('player_id').hr.sum().reset_index()
result = grouped_df.sort_values(by = 'hr', ascending = False).head(25)
result

       player_id     hr
1476   bondsba01  762.0
1      aaronha01  755.0
14330   ruthba01  714.0
14003  rodrial01  687.0
10464   mayswi01  660.0
6377   griffke02  630.0
16396  thomeji01  612.0
15526   sosasa01  609.0
13962  robinfr02  586.0
10745  mcgwima01  583.0
8673   killeha01  573.0
12510  palmera01  569.0
7942   jacksre01  563.0
13289  pujolal01  560.0
13434  ramirma02  555.0
14693  schmimi01  548.0
10130  mantlmi01  536.0
5377    foxxji01  534.0
10590  mccovwi01  521.0
17709  willite01  521.0
16373  thomafr04  521.0
10354  matheed01  512.0
679    bankser01  512.0
12419    ottme01  511.0
15007  sheffga01  509.0

In [74]:
#2.
merged_df1 = pd.merge(batting, player, on='player_id')
filtered_df1 = merged_df1[merged_df1['team_id']== 'BOS']
grouped_df1 = filtered_df1.groupby(['player_id', 'name_first', 'name_last']).hr.sum().reset_index()
grouped_df1['full_name'] = grouped_df1['name_first'] + ' ' + grouped_df1['name_last']
result_df = grouped_df[['player_id', 'full_name', 'hr']]
result_df = result_df.sort_values(by='hr', ascending=False).head(10)
result_df

      player_id         full_name     hr
1689  willite01      Ted Williams  521.0
1732  yastrca01  Carl Yastrzemski  452.0
1152  ortizda01       David Ortiz  445.0
1292   riceji01          Jim Rice  382.0
441   evansdw01      Dwight Evans  379.0
1263  ramirma02     Manny Ramirez  274.0
1609  vaughmo01         Mo Vaughn  230.0
394   doerrbo01       Bobby Doerr  223.0
487    foxxji01       Jimmie Foxx  222.0
1209  petrori01   Rico Petrocelli  210.0

      player_id name_first name_last    hr
0     aardsda01      David   Aardsma   0.0
1      aasedo01        Don      Aase   0.0
2      abadan01       Andy      Abad   0.0
3     aceveal01    Alfredo    Aceves   0.0
4     adairje01      Jerry     Adair   5.0
...         ...        ...       ...   ...
1741  zauchno01       Norm   Zauchin  32.0
1742  zeisema01       Matt    Zieser   0.0
1743   zinkch01    Charlie      Zink   0.0
1744  zuberbi01       Bill     Zuber   0.0
1745  zupcibo01        Bob    Zupcic   6.0

[1746 rows x 4 columns]