In [2]:
import pandas as pd


batting = pd.read_csv("../DATA/batting.csv")
fielding = pd.read_csv("../DATA/fielding.csv")
hall_of_fame = pd.read_csv("../DATA/hall_of_fame.csv")
player_award = pd.read_csv("../DATA/player_award.csv")
player = pd.read_csv("../DATA/player.csv")
salary = pd.read_csv("../DATA/salary.csv")
team = pd.read_csv("../DATA/team.csv")

table_files = [batting, fielding, hall_of_fame, player_award, player, salary, team]
for file in table_files:
    print(file.head(5))

   player_id  year  stint team_id league_id   g     ab     r     h  double  \
0  abercda01  1871      1     TRO       NaN   1    4.0   0.0   0.0     0.0
1   addybo01  1871      1     RC1       NaN  25  118.0  30.0  32.0     6.0
2  allisar01  1871      1     CL1       NaN  29  137.0  28.0  40.0     4.0
3  allisdo01  1871      1     WS3       NaN  27  133.0  28.0  44.0    10.0
4  ansonca01  1871      1     RC1       NaN  25  120.0  29.0  39.0    11.0

   ...   rbi   sb   cs   bb   so  ibb  hbp  sh  sf  g_idp
0  ...   0.0  0.0  0.0  0.0  0.0  NaN  NaN NaN NaN    NaN
1  ...  13.0  8.0  1.0  4.0  0.0  NaN  NaN NaN NaN    NaN
2  ...  19.0  3.0  1.0  2.0  5.0  NaN  NaN NaN NaN    NaN
3  ...  27.0  1.0  1.0  0.0  2.0  NaN  NaN NaN NaN    NaN
4  ...  16.0  6.0  2.0  2.0  1.0  NaN  NaN NaN NaN    NaN

[5 rows x 22 columns]
   player_id  year  stint team_id league_id pos   g  gs  inn_outs    po     a  \
0  abercda01  1871      1     TRO       NaN  SS   1 NaN       NaN   1.0   3.0
1   addybo01  1871      1     RC1       NaN  2B  22 NaN       NaN  67.0  72.0
2   addybo01  1871      1     RC1       NaN  SS   3 NaN       NaN   8.0  14.0
3  allisar01  1871      1     CL1       NaN  2B   2 NaN       NaN   1.0   4.0
4  allisar01  1871      1     CL1       NaN  OF  29 NaN       NaN  51.0   3.0

      e   dp  pb  wp  sb  cs  zr
0   2.0  0.0 NaN NaN NaN NaN NaN
1  42.0  5.0 NaN NaN NaN NaN NaN
2   7.0  0.0 NaN NaN NaN NaN NaN
3   0.0  0.0 NaN NaN NaN NaN NaN
4   7.0  1.0 NaN NaN NaN NaN NaN
   player_id  yearid votedby  ballots  needed  votes inducted category  \
0   cobbty01    1936   BBWAA    226.0   170.0  222.0        Y   Player
1   ruthba01    1936   BBWAA    226.0   170.0  215.0        Y   Player
2  wagneho01    1936   BBWAA    226.0   170.0  215.0        Y   Player
3  mathech01    1936   BBWAA    226.0   170.0  205.0        Y   Player
4  johnswa01    1936   BBWAA    226.0   170.0  189.0        Y   Player

  needed_note
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
   player_id               award_id  year league_id  tie notes
0   bondto01  Pitching Triple Crown  1877        NL  NaN   NaN
1  hinespa01           Triple Crown  1878        NL  NaN   NaN
2  heckegu01  Pitching Triple Crown  1884        AA  NaN   NaN
3  radboch01  Pitching Triple Crown  1884        NL  NaN   NaN
4  oneilti01           Triple Crown  1887        AA  NaN   NaN
   player_id  birth_year  birth_month  birth_day birth_country birth_state  \
0  aardsda01      1981.0         12.0       27.0           USA          CO
1  aaronha01      1934.0          2.0        5.0           USA          AL
2  aaronto01      1939.0          8.0        5.0           USA          AL
3   aasedo01      1954.0          9.0        8.0           USA          CA
4   abadan01      1972.0          8.0       25.0           USA          FL

   birth_city  death_year  death_month  death_day  ... name_last  \
0      Denver         NaN          NaN        NaN  ...   Aardsma
1      Mobile         NaN          NaN        NaN  ...     Aaron
2      Mobile      1984.0          8.0       16.0  ...     Aaron
3      Orange         NaN          NaN        NaN  ...      Aase
4  Palm Beach         NaN          NaN        NaN  ...      Abad

       name_given weight height bats throws       debut  final_game  retro_id  \
0     David Allan  220.0   75.0    R      R  2004-04-06  2015-08-23  aardd001
1     Henry Louis  180.0   72.0    R      R  1954-04-13  1976-10-03  aaroh101
2      Tommie Lee  190.0   75.0    R      R  1962-04-10  1971-09-26  aarot101
3  Donald William  190.0   75.0    R      R  1977-07-26  1990-10-03  aased001
4   Fausto Andres  184.0   73.0    L      L  2001-09-10  2006-04-13  abada001

    bbref_id
0  aardsda01
1  aaronha01
2  aaronto01
3   aasedo01
4   abadan01

[5 rows x 24 columns]
   year team_id league_id  player_id  salary
0  1985     ATL        NL  barkele01  870000
1  1985     ATL        NL  bedrost01  550000
2  1985     ATL        NL  benedbr01  545000
3  1985     ATL        NL   campri01  633333
4  1985     ATL        NL  ceronri01  625000
   year league_id team_id franchise_id div_id  rank   g  ghome   w   l  ...  \
0  1871       NaN     BS1          BNA    NaN     3  31    NaN  20  10  ...
1  1871       NaN     CH1          CNA    NaN     2  28    NaN  19   9  ...
2  1871       NaN     CL1          CFC    NaN     8  29    NaN  10  19  ...
3  1871       NaN     FW1          KEK    NaN     7  19    NaN   7  12  ...
4  1871       NaN     NY2          NNA    NaN     5  33    NaN  16  17  ...

   dp    fp                     name                          park  \
0 NaN  0.83     Boston Red Stockings           South End Grounds I
1 NaN  0.82  Chicago White Stockings       Union Base-Ball Grounds
2 NaN  0.81   Cleveland Forest Citys  National Association Grounds
3 NaN  0.80     Fort Wayne Kekiongas                Hamilton Field
4 NaN  0.83         New York Mutuals      Union Grounds (Brooklyn)

   attendance  bpf  ppf  team_id_br  team_id_lahman45  team_id_retro
0         NaN  103   98         BOS               BS1            BS1
1         NaN  104  102         CHI               CH1            CH1
2         NaN   96  100         CLE               CL1            CL1
3         NaN  101  107         KEK               FW1            FW1
4         NaN   90   88         NYU               NY2            NY2

[5 rows x 48 columns]

In [ ]:
#1
best_hitters = batting[batting['hr'].notnull()].groupby('player_id').hr.sum().reset_index().sort_values(by= 'hr', ascending=False).head(25)
best_hitters

In [ ]:
#2
merged_df = pd.merge(batting, player, on = 'player_id')
filtered_df = merged_df[merged_df['team_id']=='BOS'].groupby(['player_id', 'name_first', 'name_last']).hr.sum().reset_index()
filtered_df['full_name'] = filtered_df['name_first'] + ' ' + filtered_df['name_last']
filtered_df = filtered_df[['player_id', 'full_name', 'hr']]
ordered_df = filtered_df.sort_values(by='hr', ascending=False).head(10)
ordered_df

In [279]:
#3

C:\Users\andre\AppData\Local\Temp\ipykernel_15460\671918632.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['batting_avg'] = (filtered_df.h / filtered_df.ab).round(3)
C:\Users\andre\AppData\Local\Temp\ipykernel_15460\671918632.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['hr_rank'] = filtered_df['hr'].rank(method='first', ascending=False)
C:\Users\andre\AppData\Local\Temp\ipykernel_15460\671918632.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['batting_avg_rank'] = filtered_df['batting_avg'].rank(method='first', ascending=False)

        name_last    hr  hr_rank  batting_avg  batting_avg_rank
78855   Rodriguez  33.0     15.0        0.250             359.0
79712     Hawkins   0.0    548.0        0.000             839.0
79713     Hawkins   0.0    549.0          NaN               NaN
82290       Colon   0.0    550.0        0.138             738.0
82602      Hunter  22.0     49.0        0.240             429.0
82937       Ortiz  37.0     12.0        0.273             217.0
83396      Beltre  18.0     69.0        0.287             146.0
83416     Beltran  19.0     62.0        0.276             201.0
83547        Chen   0.0    551.0          NaN               NaN
84315  Pierzynski   9.0    194.0        0.300              99.0
84395     Ramirez  11.0    158.0        0.247             393.0
84396     Ramirez   6.0    254.0        0.245             408.0
84857     Burnett   1.0    461.0        0.119             760.0
84876     Carlyle   0.0    552.0          NaN               NaN
85245      Hudson   1.0    462.0        0.184             644.0
85618      Nathan   0.0    553.0          NaN               NaN
86033        Wolf   0.0    554.0          NaN               NaN
86166     Buehrle   0.0    555.0        0.143             725.0
86220      Choate   0.0    556.0          NaN               NaN
86455      Grilli   0.0    557.0          NaN               NaN
86624     Marquis   0.0    558.0        0.188             634.0
86936     Rollins  13.0    128.0        0.224             505.0
87056   Vogelsong   1.0    463.0        0.139             737.0
87161        Zito   0.0    559.0          NaN               NaN
87220     Balfour   0.0    560.0          NaN               NaN

In [275]:
#4
merged_df = pd.merge(batting, player, on = 'player_id')
filtered_df = merged_df[(merged_df['ab'] >= 100) & (merged_df['year']==2000)]
grouped_df = filtered_df.groupby(['player_id', 'name_first', 'name_last'])[['ab','hr']].sum().reset_index()
grouped_df['Homeruns_per_ab'] = round(grouped_df['hr'] / grouped_df['ab'],3)
ordered_df = grouped_df.sort_values(by='Homeruns_per_ab', ascending=False).head(50)
ordered_df

     player_id name_first   name_last     ab    hr  Homeruns_per_ab
275  mcgwima01       Mark     McGwire  236.0  32.0            0.136
44   bondsba01      Barry       Bonds  480.0  49.0            0.102
191   hillgl01  Glenallen        Hill  300.0  27.0            0.090
333  ramirma02      Manny     Ramirez  439.0  38.0            0.087
362  sheffga01       Gary   Sheffield  501.0  43.0            0.086
142  giambja01      Jason      Giambi  510.0  43.0            0.084
370   sosasa01      Sammy        Sosa  604.0  50.0            0.083
148  glaustr01       Troy       Glaus  563.0  47.0            0.083
51   branyru01    Russell     Branyan  193.0  16.0            0.083
197  hundlto01       Todd     Hundley  299.0  24.0            0.080
116  edmonji01        Jim     Edmonds  525.0  42.0            0.080
18   bagweje01       Jeff     Bagwell  590.0  47.0            0.080
189  hidalri01    Richard     Hidalgo  558.0  44.0            0.079
323  piazzmi01       Mike      Piazza  482.0  38.0            0.079
221  justida01      David     Justice  524.0  41.0            0.078
163  griffke02        Ken     Griffey  520.0  40.0            0.077
166  guerrvl01   Vladimir    Guerrero  571.0  44.0            0.077
409   wardda01     Daryle        Ward  264.0  20.0            0.076
211  johnsch04    Charles     Johnson  421.0  31.0            0.074
347  rodriiv01       Ivan   Rodriguez  363.0  27.0            0.074
345  rodrial01       Alex   Rodriguez  554.0  41.0            0.074
387  thomafr04      Frank      Thomas  582.0  43.0            0.074
13   andresh01      Shane     Andrews  192.0  14.0            0.073
183  heltoto01       Todd      Helton  580.0  42.0            0.072
66   caminke01        Ken    Caminiti  208.0  15.0            0.072
104  delgaca01     Carlos     Delgado  569.0  41.0            0.072
57   buhneja01        Jay      Buhner  364.0  26.0            0.071
315  palmera01     Rafael    Palmeiro  565.0  39.0            0.069
122  evereca01       Carl     Everett  496.0  34.0            0.069
234  lampkto01        Tom     Lampkin  103.0   7.0            0.068
262  martied01      Edgar    Martinez  556.0  37.0            0.067
235  lankfra01        Ray    Lankford  392.0  26.0            0.066
23   batisto01       Tony     Batista  620.0  41.0            0.066
9     aloumo01     Moises        Alou  454.0  30.0            0.066
137  fullmbr01       Brad     Fullmer  482.0  32.0            0.066
207  jenkige01      Geoff     Jenkins  512.0  34.0            0.066
178  hanseda01       Dave      Hansen  121.0   8.0            0.066
388  thomeji01        Jim       Thome  557.0  37.0            0.066
341  richach01      Chris     Richard  199.0  13.0            0.065
127  finlest01      Steve      Finley  539.0  35.0            0.065
117  elsteke01      Kevin      Elster  220.0  14.0            0.064
145  gilesbr02      Brian       Giles  559.0  35.0            0.063
194  houstty01      Tyler     Houston  284.0  18.0            0.063
358  seguife01   Fernando   Seguignol  162.0  10.0            0.062
287  mondera01       Raul     Mondesi  388.0  24.0            0.062
81   clarkto02       Tony       Clark  208.0  13.0            0.062
215  jonesch06    Chipper       Jones  579.0  36.0            0.062
394  vandejo02       John  Vander Wal  384.0  24.0            0.062
58   burksel01      Ellis       Burks  393.0  24.0            0.061
396  vaughgr01       Greg      Vaughn  461.0  28.0            0.061

In [159]:
#5
league_avg = batting[batting['ab']>=100]
league_avg = league_avg.h.sum() / league_avg.ab.sum()
league_avg

merged_df = pd.merge(batting, player, on='player_id')
filtered_df = merged_df[(merged_df['ab']>=200) & (merged_df['team_id']=='NYA')]
grouped_df = filtered_df.groupby(['player_id', 'name_first'])[['h','ab']].sum().reset_index()
grouped_df['batting_avg'] = round(grouped_df['h'] / grouped_df['ab'],3)
grouped_df['batting_performance'] = grouped_df['batting_avg'].apply(lambda x: 'Above_avg' if x > league_avg else 'Below_avg')
ordered_df = grouped_df.sort_values(by='batting_avg', ascending=False).head(25)
ordered_df

     player_id name_first       h       ab  batting_avg batting_performance
252   ruthba01       Babe  2518.0   7216.0        0.349           Above_avg
98   gehrilo01        Lou  2700.0   7935.0        0.340           Above_avg
76   duncama01    Mariano   136.0    400.0        0.340           Above_avg
72   dimagjo01        Joe  2214.0   6821.0        0.325           Above_avg
54   combsea01      Earle  1852.0   5711.0        0.324           Above_avg
223  paschbe01        Ben   163.0    505.0        0.323           Above_avg
137  jamesdi01       Dion   174.0    552.0        0.315           Above_avg
71   dickebi01       Bill  1931.0   6151.0        0.314           Above_avg
26   boggswa01       Wade   702.0   2240.0        0.313           Above_avg
195  meusebo01        Bob  1565.0   5032.0        0.311           Above_avg
138  jeterde01      Derek  3441.0  11084.0        0.310           Above_avg
37    canoro01   Robinson  1649.0   5336.0        0.309           Above_avg
183  mattido01        Don  2151.0   6991.0        0.308           Above_avg
310  watsobo01        Bob   144.0    469.0        0.307           Above_avg
274   sojolu01       Luis    66.0    215.0        0.307           Above_avg
44   chapmbe01        Ben  1042.0   3400.0        0.306           Above_avg
170  maddoel01    Elliott   208.0    684.0        0.304           Above_avg
228  pinielo01        Lou   819.0   2699.0        0.303           Above_avg
258  schanwa01      Wally   443.0   1460.0        0.303           Above_avg
219  oneilpa01       Paul  1426.0   4700.0        0.303           Above_avg
322   wittwh01     Whitey   522.0   1724.0        0.303           Above_avg
24   blombro01        Ron   261.0    864.0        0.302           Above_avg
79   easlemi01       Mike   148.0    490.0        0.302           Above_avg
240  rivermi01     Mickey   598.0   2000.0        0.299           Above_avg
234  raineti01        Tim   237.0    793.0        0.299           Above_avg

In [172]:
#6
filtered_df = team[team['year']>=2000].groupby('name')[['attendance', 'g']].sum().reset_index()
filtered_df['avg_attendance_per_game'] = round(filtered_df['attendance'] / filtered_df['g'])
result_df = filtered_df.sort_values(by='avg_attendance_per_game', ascending=False)
result_df

                             name  attendance     g  avg_attendance_per_game
21               New York Yankees  58491801.0  2590                  22584.0
15            Los Angeles Dodgers  55479368.0  2591                  21412.0
28            St. Louis Cardinals  52779669.0  2591                  20370.0
26           San Francisco Giants  51539703.0  2590                  19899.0
14  Los Angeles Angels of Anaheim  35361353.0  1782                  19844.0
5                    Chicago Cubs  47557886.0  2590                  18362.0
4                  Boston Red Sox  46097292.0  2591                  17791.0
23          Philadelphia Phillies  44183070.0  2591                  17053.0
20                  New York Mets  44026638.0  2590                  16999.0
9                Colorado Rockies  41978667.0  2593                  16189.0
31                  Texas Rangers  41050712.0  2593                  15831.0
0                  Anaheim Angels  12810219.0   810                  15815.0
27               Seattle Mariners  40344500.0  2592                  15565.0
2                  Atlanta Braves  40320936.0  2591                  15562.0
17              Milwaukee Brewers  40188606.0  2592                  15505.0
12                 Houston Astros  39731913.0  2592                  15329.0
10                 Detroit Tigers  39444074.0  2591                  15223.0
1            Arizona Diamondbacks  37946488.0  2592                  14640.0
25               San Diego Padres  37885083.0  2593                  14611.0
3               Baltimore Orioles  37766746.0  2592                  14571.0
33           Washington Nationals  24957479.0  1780                  14021.0
18                Minnesota Twins  36016389.0  2593                  13890.0
7                 Cincinnati Reds  34950170.0  2594                  13473.0
6               Chicago White Sox  33366890.0  2593                  12868.0
32              Toronto Blue Jays  33162614.0  2591                  12799.0
8               Cleveland Indians  32255283.0  2591                  12449.0
24             Pittsburgh Pirates  30674181.0  2589                  11848.0
22              Oakland Athletics  29561870.0  2590                  11414.0
16                  Miami Marlins   7290284.0   648                  11250.0
13             Kansas City Royals  27098544.0  2592                  10455.0
30                 Tampa Bay Rays  12863080.0  1297                   9918.0
11                Florida Marlins  16518116.0  1942                   8506.0
29           Tampa Bay Devil Rays  10045608.0  1293                   7769.0
19                 Montreal Expos   4156251.0   810                   5131.0

In [175]:
#7
merged_df = pd.merge(player, player_award, on = 'player_id')
filtered_df = merged_df[merged_df['award_id']=='Pitching Triple Crown']
grouped_df = filtered_df.groupby(['player_id', 'name_first']).award_id.count().reset_index().sort_values(by='award_id', ascending=False).head(10)
grouped_df

    player_id name_first  award_id
0   alexape01       Pete         3
11  johnswa01     Walter         3
14  koufasa01      Sandy         3
6   gomezle01      Lefty         2
8   grovele01      Lefty         2
4   clemero02      Roger         2
16  mathech01    Christy         2
3   clarkjo01       John         1
18  peavyja01       Jake         1
26  waltebu01      Bucky         1

In [266]:
#8 Este me cost, repetirlo para recordar la funcion de astype
filtered_df = salary[salary['year']==2015].groupby('team_id').salary.agg(average_salary = 'mean', max_salary = 'max').reset_index()
filtered_df['salary_disparity'] = ((filtered_df['max_salary'] - filtered_df['average_salary']) / filtered_df['average_salary'] * 100).round(2).astype(str) + '%'
result_df = filtered_df[['team_id', 'average_salary', 'max_salary', 'salary_disparity']].sort_values(by='salary_disparity', ascending=False)
result_df

   team_id  average_salary  max_salary salary_disparity
20     PHI    4.295885e+06    25000000          481.95%
0      ARI    2.132207e+06    12000000           462.8%
12     LAA    4.444645e+06    24000000          439.98%
16     MIN    4.310200e+06    23000000          433.62%
8      COL    3.827544e+06    20000000          422.53%
18     NYN    3.870667e+06    20000000          416.71%
23     SEA    4.888348e+06    24857000          408.49%
27     TEX    4.791426e+06    24000000          400.89%
7      CLE    3.022888e+06    15000000          396.21%
26     TBA    2.224870e+06    11000000          394.41%
28     TOR    4.519696e+06    22000000          386.76%
5      CHN    4.138547e+06    20000000          383.26%
22     SDN    4.555435e+06    21250000          366.48%
19     OAK    2.823339e+06    13000000          360.45%
13     LAN    7.441103e+06    32571000          337.72%
25     SLN    4.586212e+06    19500000          325.19%
9      DET    6.891390e+06    28000000           306.3%
15     MIL    3.477586e+06    14000000          302.58%
1      ATL    2.990885e+06    12000000          301.22%
29     WAS    5.365085e+06    21000000          291.42%
14     MIA    2.835688e+06    11000000          287.91%
10     HOU    2.580579e+06    10000000          287.51%
21     PIT    3.065259e+06    11666666          280.61%
4      CHA    4.161989e+06    15750000          278.42%
3      BOS    5.659481e+06    19750000          248.97%
24     SFN    6.100056e+06    21000000          244.26%
6      CIN    4.187862e+06    14000000           234.3%
2      BAL    4.108744e+06    13333333          224.51%
17     NYA    7.336274e+06    23125000          215.21%
11     KCA    4.152112e+06    12500000          201.05%

In [272]:
#9
merged_df = pd.merge(batting, player, on = 'player_id')
full_merge = pd.merge(merged_df, hall_of_fame, on = 'player_id')
filtered_df = full_merge[(full_merge['year']>1950) & (full_merge['inducted']=='Y')].groupby(['player_id', 'name_last'])['h'].sum().reset_index()
result_df = filtered_df.sort_values(by='h', ascending=False).head(25)
result_df

     player_id    name_last       h
0    aaronha01        Aaron  3771.0
105  yastrca01  Yastrzemski  3419.0
63   molitpa01      Molitor  3319.0
59    mayswi01         Mays  3283.0
65   murraed02       Murray  3255.0
77   ripkeca01       Ripken  3184.0
12   brettge01        Brett  3154.0
106  yountro01        Yount  3142.0
37   gwynnto01        Gwynn  3141.0
103  winfida01     Winfield  3110.0
8    biggicr01       Biggio  3060.0
38   henderi01    Henderson  3055.0
16   carewro01        Carew  3053.0
13   brocklo01        Brock  3023.0
10   boggswa01        Boggs  3010.0
45   kalinal01       Kaline  3007.0
20   clemero01     Clemente  3000.0
81   robinfr02     Robinson  2943.0
80   robinbr01     Robinson  2848.0
36   griffke02      Griffey  2781.0
22   dawsoan01       Dawson  2774.0
71   perezto01        Perez  2732.0
1    alomaro01       Alomar  2724.0
100  willibi01     Williams  2711.0
3    aparilu01     Aparicio  2677.0

In [273]:
#10
merged_df = pd.merge(salary, fielding, on = 'player_id')
full_merge = pd.merge(merged_df, player, on = 'player_id')
grouped_df = full_merge.groupby(['player_id', 'name_first', 'pos'])['salary'].max().reset_index()
result_df = grouped_df.sort_values(by='salary', ascending=False).head(50)
result_df

       player_id name_first pos    salary
10621  rodrial01       Alex  SS  33000000
10620  rodrial01       Alex  DH  33000000
10619  rodrial01       Alex  3B  33000000
10618  rodrial01       Alex  1B  33000000
6610   kershcl01    Clayton   P  32571000
12752  verlaju01     Justin   P  28000000
13064  wellsve01     Vernon  2B  26187500
13066  wellsve01     Vernon  CF  26187500
13068  wellsve01     Vernon  OF  26187500
13067  wellsve01     Vernon  LF  26187500
13065  wellsve01     Vernon  3B  26187500
13069  wellsve01     Vernon  RF  26187500
13063  wellsve01     Vernon  1B  26187500
4793   greinza01       Zack   P  26000000
7088     leecl02      Cliff   P  25000000
5757   howarry01       Ryan  1B  25000000
5462   hernafe02      Felix   P  24857000
10918  sabatcc01         CC   P  24285714
1971    canoro01   Robinson  2B  24000000
1972    canoro01   Robinson  SS  24000000
10073  pujolal01     Albert  SS  24000000
10072  pujolal01     Albert  RF  24000000
10071  pujolal01     Albert  OF  24000000
10070  pujolal01     Albert  LF  24000000
10069  pujolal01     Albert  3B  24000000
10068  pujolal01     Albert  2B  24000000
10067  pujolal01     Albert  1B  24000000
3819   fieldpr01     Prince  1B  24000000
10198  ramirma02      Manny  DH  23854494
10199  ramirma02      Manny  LF  23854494
10200  ramirma02      Manny  OF  23854494
10201  ramirma02      Manny  RF  23854494
5087   hamelco01       Cole   P  23500000
4368   giambja01      Jason  1B  23428571
4369   giambja01      Jason  3B  23428571
4370   giambja01      Jason  DH  23428571
4371   giambja01      Jason  LF  23428571
4372   giambja01      Jason  OF  23428571
4373   giambja01      Jason  RF  23428571
11086  santajo01      Johan   P  23145011
12177  teixema01       Mark  OF  23125000
12174  teixema01       Mark  1B  23125000
12175  teixema01       Mark  3B  23125000
12176  teixema01       Mark  LF  23125000
12178  teixema01       Mark  RF  23125000
7930   mauerjo01        Joe  OF  23000000
7929   mauerjo01        Joe   C  23000000
7928   mauerjo01        Joe  1B  23000000
7931   mauerjo01        Joe  RF  23000000
5104   hamiljo03       Josh  RF  22708749

In [283]:
#11-Revisar el tema de year_x o year_y
merged_df = pd.merge(salary, fielding, on = 'player_id')
filtered_df = merged_df[merged_df['year_y']>=2000].groupby('pos')['salary'].mean().reset_index()
ordered_df = filtered_df.sort_values(by='salary', ascending=False)
ordered_df

  pos        salary
0  1B  3.517212e+06
6  OF  3.421048e+06
4  CF  3.279103e+06
8  RF  3.093472e+06
7   P  2.903943e+06
5  LF  2.867335e+06
2  3B  2.815175e+06
9  SS  2.807452e+06
1  2B  2.300095e+06
3   C  2.179792e+06

In [6]:
#12 Por qu el salary es max en groupby
merged_df = pd.merge(player, salary, on = 'player_id')
full_merge = pd.merge(merged_df, fielding, on = 'player_id')
avg_salary = salary[salary['year']==2015].salary.mean()
avg_salary
filtered_df = full_merge[(full_merge['salary']>avg_salary) & (full_merge['year_x']==2015) & (full_merge['pos']=='P')]
grouped_df = filtered_df.groupby('name_first').salary.max().reset_index()
result_df = grouped_df.sort_values(by='salary', ascending=False).head(25)
result_df

   name_first    salary
20    Clayton  32571000
62     Justin  28000000
98       Zack  25000000
34      Felix  24857000
21       Cole  23500000
16         CC  23000000
70   Masahiro  22000000
72       Matt  21000000
58        Jon  20000000
69       Mark  20000000
24      David  19750000
2        Adam  19500000
15      C. J.  18000000
51      Jered  18000000
87        Tim  18000000
73        Max  17142000
7      Anibal  16800000
61     Jordan  16500000
56       John  15750000
76       Nick  15000000
96     Yovani  14000000
33      Ervin  13500000
59   Jonathan  13000000
83      Scott  13000000
31      Edwin  13000000

In [219]:
#13
team['decade'] = (team.year // 10) * 10
team['avg_so_per_game'] = (team.so / team.g).round(2)
grouped_df = team.groupby('decade').avg_so_per_game.mean().reset_index()
ordered_df = grouped_df.sort_values(by='decade', ascending=False)
ordered_df

    decade  avg_so_per_game
14    2010         7.435889
13    2000         6.561033
12    1990         6.150827
11    1980         5.342615
10    1970         5.144959
9     1960         5.712727
8     1950         4.399437
7     1940         3.550000
6     1930         3.316375
5     1920         2.814437
4     1910         3.609671
3     1900         3.197857
2     1890         2.657971
1     1880         3.718805
0     1870         1.027051

In [221]:
#14
team['decade'] = (team.year // 10) * 10
team['avg_hr_per_game'] = (team.hr / team.g).round(3)
grouped_df = team.groupby('decade').avg_hr_per_game.mean().reset_index()
ordered_df = grouped_df.sort_values(by='decade', ascending=False)
ordered_df

    decade  avg_hr_per_game
14    2010         0.955328
13    2000         1.073370
12    1990         0.960288
11    1980         0.804019
10    1970         0.745614
9     1960         0.820222
8     1950         0.843019
7     1940         0.523094
6     1930         0.545725
5     1920         0.401719
4     1910         0.169602
3     1900         0.138461
2     1890         0.253072
1     1880         0.202358
0     1870         0.086295

In [240]:
#15
team['winning_percentage'] = ((team.w / team.g)*100).round(2)
filtered_df = team[(team['ws_win']== 'N') & (team['year']>=2000)]
grouped_df = filtered_df.groupby(['name', 'g', 'w', 'winning_percentage', 'year']).first().reset_index()
ordered_df = grouped_df.sort_values(by='winning_percentage', ascending=False).head(5)
ordered_df = ordered_df[['name', 'g', 'w', 'winning_percentage', 'year']]
ordered_df

                      name    g    w  winning_percentage  year
390       Seattle Mariners  162  116               71.60  2001
404    St. Louis Cardinals  162  105               64.81  2004
286       New York Yankees  161  103               63.98  2002
314      Oakland Athletics  162  103               63.58  2002
329  Philadelphia Phillies  162  102               62.96  2011

In [243]:
#16. Arreglar el data type de w para que funcione
team['winning_percentage'] = ((team.w / team.g)*100).round(2)
filtered_df = team[(team['ws_win']== 'Y') & (team['year']>='2000')]
grouped_df = filtered_df.groupby(['name', 'g', 'w', 'year']).first().reset_index()
ordered_df = grouped_df.sort_values(by='winning_percentage', ascending=False).head(5)
ordered_df = ordered_df['name', 'g', 'w', 'winning_percentage', 'year']
ordered_df

TypeError: Invalid comparison between dtype=int64 and str

In [247]:
#17
salary['decade'] = (salary.year // 10) * 10
grouped_df = salary.groupby('decade').salary.mean().round().reset_index()
ordered_df = grouped_df.sort_values(by='decade', ascending=False)
ordered_df

   decade     salary
3    2010  3671903.0
2    2000  2653542.0
1    1990  1058647.0
0    1980   456930.0

In [8]:
#18
avg_salaries = salary[salary['year']==2015]
avg_salaries = avg_salaries.groupby('team_id')['salary'].mean().reset_index()
avg_salaries = avg_salaries['salary']
avg_salaries

0     2.132207e+06
1     2.990885e+06
2     4.108744e+06
3     5.659481e+06
4     4.161989e+06
5     4.138547e+06
6     4.187862e+06
7     3.022888e+06
8     3.827544e+06
9     6.891390e+06
10    2.580579e+06
11    4.152112e+06
12    4.444645e+06
13    7.441103e+06
14    2.835688e+06
15    3.477586e+06
16    4.310200e+06
17    7.336274e+06
18    3.870667e+06
19    2.823339e+06
20    4.295885e+06
21    3.065259e+06
22    4.555435e+06
23    4.888348e+06
24    6.100056e+06
25    4.586212e+06
26    2.224870e+06
27    4.791426e+06
28    4.519696e+06
29    5.365085e+06
Name: salary, dtype: float64

   team_id    avg_salary  max_salary salary_disparity
20     PHI  4.295885e+06    25000000          481.95%
0      ARI  2.132207e+06    12000000           462.8%
12     LAA  4.444645e+06    24000000          439.98%
16     MIN  4.310200e+06    23000000          433.62%
8      COL  3.827544e+06    20000000          422.53%
18     NYN  3.870667e+06    20000000          416.71%
23     SEA  4.888348e+06    24857000          408.49%
27     TEX  4.791426e+06    24000000          400.89%
7      CLE  3.022888e+06    15000000          396.21%
26     TBA  2.224870e+06    11000000          394.41%
28     TOR  4.519696e+06    22000000          386.76%
5      CHN  4.138547e+06    20000000          383.26%
22     SDN  4.555435e+06    21250000          366.48%
19     OAK  2.823339e+06    13000000          360.45%
13     LAN  7.441103e+06    32571000          337.72%
25     SLN  4.586212e+06    19500000          325.19%
9      DET  6.891390e+06    28000000           306.3%
15     MIL  3.477586e+06    14000000          302.58%
1      ATL  2.990885e+06    12000000          301.22%
29     WAS  5.365085e+06    21000000          291.42%
14     MIA  2.835688e+06    11000000          287.91%
10     HOU  2.580579e+06    10000000          287.51%
21     PIT  3.065259e+06    11666666          280.61%
4      CHA  4.161989e+06    15750000          278.42%
3      BOS  5.659481e+06    19750000          248.97%
24     SFN  6.100056e+06    21000000          244.26%
6      CIN  4.187862e+06    14000000           234.3%
2      BAL  4.108744e+06    13333333          224.51%
17     NYA  7.336274e+06    23125000          215.21%
11     KCA  4.152112e+06    12500000          201.05%